.faq-container h3 {
  font-size: 36px;
  margin-bottom: 0rem;
  margin-top: 3rem;
}

.faq-main-container {
  background-color: #faf4e6;
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding-bottom: 4rem;
}

.faq-container .accordion-container {
width: 75%;
}
